In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from load import load_data
from data_transform import DataTransform
from DataFrameInfo import DataFrameInfo
from data_frame_transform import DataFrameTransform
from plotter import Plotter

In [2]:
df = load_data('initial_data.csv')

In [3]:
df.describe()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,int_rate,instalment,annual_inc,dti,delinq_2yrs,...,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_amount,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
count,5.423100e+04,5.423100e+04,54231.000000,51224.000000,54231.000000,49062.000000,54231.000000,5.423100e+04,54231.000000,54231.000000,...,54231.000000,54231.000000,54231.000000,54231.000000,54231.000000,54231.000000,54231.000000,54180.000000,7499.000000,54231.0
mean,7.621797e+06,8.655350e+06,13333.076100,13229.509117,12952.622979,13.507328,400.013953,7.222085e+04,15.867087,0.241799,...,11788.946618,9407.048589,2577.757101,0.901512,93.501288,10.859057,3130.706393,0.004208,42.253634,1.0
std,9.571362e+06,1.031281e+07,8082.196709,8019.017599,8099.473527,4.392893,238.920012,5.158934e+04,7.623124,0.706706,...,8363.508506,6958.124264,2581.657345,6.215792,630.843636,120.193950,5323.801675,0.070990,21.052360,0.0
min,5.552100e+04,7.069400e+04,500.000000,500.000000,0.000000,5.420000,15.670000,3.300000e+03,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.594330e+05,9.587720e+05,7000.000000,7000.000000,6700.000000,10.370000,224.205000,4.500000e+04,10.200000,0.000000,...,5658.815000,4264.350000,889.560000,0.000000,0.000000,0.000000,289.790000,0.000000,26.000000,1.0
50%,7.084590e+06,8.709873e+06,12000.000000,12000.000000,11300.000000,13.160000,347.150000,6.100000e+04,15.600000,0.000000,...,9835.830000,7644.920000,1734.640000,0.000000,0.000000,0.000000,562.670000,0.000000,42.000000,1.0
75%,8.860616e+06,1.052714e+07,18000.000000,18000.000000,18000.000000,16.200000,527.550000,8.600000e+04,21.260000,0.000000,...,15978.200000,12505.625000,3323.765000,0.000000,0.000000,0.000000,3738.120000,0.000000,59.000000,1.0
max,3.867612e+07,4.146185e+07,35000.000000,35000.000000,35000.000000,26.060000,1407.010000,2.039784e+06,39.910000,18.000000,...,55061.000000,35000.020000,23062.450000,358.680000,27750.000000,7002.190000,36115.200000,4.000000,146.000000,1.0

In [4]:
transformer = DataFrameTransform(df)
transformer.drop_row('funded_amount')
#df['difference'] = df['loan_amount'] - df['funded_amount']
df.describe()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,int_rate,instalment,annual_inc,dti,delinq_2yrs,...,total_payment_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_payment_amount,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
count,5.122400e+04,5.122400e+04,51224.000000,51224.000000,51224.000000,46362.000000,51224.000000,5.122400e+04,51224.000000,51224.000000,...,51224.000000,51224.00000,51224.000000,51224.000000,51224.000000,51224.000000,51224.000000,51175.000000,7080.000000,51224.0
mean,7.618653e+06,8.652331e+06,13333.818620,13229.509117,12953.920509,13.508304,399.881725,7.216022e+04,15.875907,0.241801,...,11786.593279,9401.27337,2579.229121,0.897446,93.438451,10.751740,3128.649846,0.004182,42.165819,1.0
std,9.569627e+06,1.031062e+07,8077.905288,8019.017599,8093.429526,4.394453,238.591515,5.163296e+04,7.623676,0.707487,...,8351.783923,6946.20258,2585.031111,6.175578,628.220199,117.328943,5316.198505,0.070881,21.020447,0.0
min,5.552100e+04,7.069400e+04,500.000000,500.000000,0.000000,5.420000,15.670000,3.300000e+03,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,7.593900e+05,9.587735e+05,7000.000000,7000.000000,6725.000000,10.370000,224.207500,4.500000e+04,10.210000,0.000000,...,5664.022500,4269.83000,889.205000,0.000000,0.000000,0.000000,289.962500,0.000000,25.000000,1.0
50%,7.083872e+06,8.709600e+06,12000.000000,12000.000000,11300.000000,13.160000,347.150000,6.100000e+04,15.620000,0.000000,...,9835.220000,7647.52500,1734.110000,0.000000,0.000000,0.000000,562.665000,0.000000,42.000000,1.0
75%,8.856141e+06,1.048676e+07,18000.000000,18000.000000,18000.000000,16.200000,527.290000,8.600000e+04,21.280000,0.000000,...,15977.662500,12500.00000,3322.117500,0.000000,0.000000,0.000000,3733.922500,0.000000,59.000000,1.0
max,3.867612e+07,4.146185e+07,35000.000000,35000.000000,35000.000000,26.060000,1407.010000,2.039784e+06,39.910000,18.000000,...,55061.000000,35000.02000,23062.450000,358.680000,27750.000000,7002.190000,36115.200000,4.000000,146.000000,1.0

In [5]:
for entry in list(df):
    display(df[entry].value_counts())

id
72323       1
38676116    1
38656203    1
38656154    1
38656128    1
           ..
38655994    1
38656003    1
38656004    1
38656023    1
38656063    1
Name: count, Length: 51224, dtype: int64

member_id
70694       1
41461848    1
41440010    1
41439961    1
41439934    1
           ..
41439798    1
41439808    1
41439809    1
41439828    1
41439868    1
Name: count, Length: 51224, dtype: int64

loan_amount
10000    3738
12000    2915
15000    2694
20000    2495
5000     1919
         ...
600         1
725         1
22725       1
750         1
24750       1
Name: count, Length: 1071, dtype: int64

funded_amount
10000.0    3703
12000.0    2863
15000.0    2637
20000.0    2418
5000.0     1913
           ...
24350.0       1
1850.0        1
24150.0       1
4175.0        1
24750.0       1
Name: count, Length: 1122, dtype: int64

funded_amount_inv
10000.000000    2732
12000.000000    2035
15000.000000    1794
20000.000000    1552
5000.000000     1461
                ...
1369.990000        1
1321.100000        1
672.803839         1
502.690000         1
325.000000         1
Name: count, Length: 5024, dtype: int64

term
36 months    33844
60 months    12876
Name: count, dtype: int64

int_rate
11.99    1746
10.99    1728
12.99    1519
15.61    1090
8.90      991
         ...
12.62       1
18.49       1
24.40       1
15.38       1
17.41       1
Name: count, Length: 456, dtype: int64

instalment
332.10    168
336.90    143
327.34    142
498.15    109
392.81    102
         ...
922.69      1
963.08      1
387.81      1
380.18      1
372.74      1
Name: count, Length: 19262, dtype: int64

grade
B    15440
C    12845
A     9279
D     7715
E     3859
F     1600
G      486
Name: count, dtype: int64

sub_grade
B3    3430
B4    3338
B2    3048
C1    2854
B5    2848
C2    2799
B1    2776
A5    2630
C3    2625
A4    2496
C4    2381
C5    2186
D1    1750
D2    1708
A3    1670
D3    1547
D4    1436
A2    1402
D5    1274
A1    1081
E1     939
E2     933
E3     776
E4     624
E5     587
F1     464
F2     363
F3     308
F4     272
F5     193
G1     147
G2     120
G3      85
G4      69
G5      65
Name: count, dtype: int64

employment_length
10+ years    15003
2 years       4778
< 1 year      4722
3 years       4345
5 years       3648
1 year        3494
4 years       3310
6 years       2858
7 years       2816
8 years       2403
9 years       1837
Name: count, dtype: int64

home_ownership
MORTGAGE    25443
RENT        21227
OWN          4493
OTHER          59
NONE            2
Name: count, dtype: int64

annual_inc
60000.0    2009
50000.0    1660
65000.0    1332
40000.0    1295
75000.0    1262
           ...
27716.0       1
33990.0       1
36153.0       1
27376.0       1
46713.0       1
Name: count, Length: 5873, dtype: int64

verification_status
Verified           19596
Not Verified       16612
Source Verified    15016
Name: count, dtype: int64

issue_date
Dec-2019    6923
Nov-2019    6641
Oct-2019    6373
Sep-2019    5748
Jan-2021    3988
            ...
Aug-2013      34
Sep-2014      32
Sep-2013      25
Jul-2013      20
Jun-2013       2
Name: count, Length: 61, dtype: int64

loan_status
Fully Paid                                             25538
Current                                                18197
Charged Off                                             5275
Does not meet the credit policy. Status:Fully Paid       918
Late (31-120 days)                                       547
Does not meet the credit policy. Status:Charged Off      349
In Grace Period                                          249
Late (16-30 days)                                        102
Default                                                   49
Name: count, dtype: int64

payment_plan
n    51223
y        1
Name: count, dtype: int64

purpose
debt_consolidation    27969
credit_card           10516
other                  3480
home_improvement       3043
major_purchase         1582
small_business         1232
car                     962
medical                 601
wedding                 512
moving                  427
house                   337
vacation                298
educational             191
renewable_energy         74
Name: count, dtype: int64

dti
0.00     108
18.00     54
12.00     50
13.20     49
14.40     47
        ...
35.37      1
27.79      1
0.01       1
0.12       1
0.09       1
Name: count, Length: 3602, dtype: int64

delinq_2yrs
0     43103
1      5619
2      1601
3       508
4       198
5        86
6        49
7        25
8        15
10        7
11        4
9         3
13        3
17        1
15        1
18        1
Name: count, dtype: int64

earliest_credit_line
Oct-1999    398
Oct-2000    397
Nov-1999    391
Nov-2000    391
Nov-1998    390
           ...
Dec-1965      1
Nov-1962      1
Feb-1965      1
Sep-1963      1
May-1963      1
Name: count, Length: 583, dtype: int64

inq_last_6mths
0     25586
1     14148
2      6526
3      3134
4       984
5       427
6       200
7        96
8        62
9        16
10       11
11        8
15        6
12        5
13        4
16        3
18        2
17        1
33        1
24        1
32        1
19        1
14        1
Name: count, dtype: int64

mths_since_last_delinq
9.0      453
10.0     441
11.0     420
0.0      419
8.0      411
        ...
95.0       1
134.0      1
146.0      1
106.0      1
107.0      1
Name: count, Length: 100, dtype: int64

mths_since_last_record
0.0      600
98.0     155
97.0     150
96.0     141
100.0    118
        ...
7.0        5
10.0       4
1.0        2
4.0        1
2.0        1
Name: count, Length: 120, dtype: int64

open_accounts
9     4900
8     4804
10    4549
7     4484
11    4159
6     3838
12    3589
13    3022
5     2823
14    2499
15    2029
4     1844
16    1602
17    1318
3     1017
18    1016
19     794
20     600
21     459
2      389
22     382
23     247
24     227
25     180
26     111
27      78
28      54
29      37
30      31
1       29
31      29
33      15
34      14
32      13
39       8
35       8
41       4
36       4
43       3
38       3
42       3
37       3
40       1
48       1
51       1
53       1
46       1
47       1
Name: count, dtype: int64

total_accounts
20    1861
17    1847
18    1836
19    1818
22    1817
      ...
89       1
84       1
97       1
79       1
90       1
Name: count, Length: 88, dtype: int64

out_prncp
0.00       32082
6934.63       15
7068.09       14
5547.70       14
8321.68       13
           ...
269.31         1
85.90          1
24.65          1
674.47         1
535.18         1
Name: count, Length: 16774, dtype: int64

out_prncp_inv
0.00        32082
6934.63        15
7068.09        14
5547.70        14
8321.68        12
            ...
6492.99         1
6331.85         1
694.97          1
11082.70        1
8963.75         1
Name: count, Length: 16959, dtype: int64

total_payment
0.00       20
8302.50    11
3994.35    10
8183.50    10
7938.50    10
           ..
5724.82     1
5931.25     1
3915.37     1
5174.18     1
5645.90     1
Name: count, Length: 48931, dtype: int64

total_payment_inv
0.00        142
8302.50      11
15645.25     10
7938.50      10
8183.50      10
           ...
2032.29       1
2787.47       1
2489.01       1
232.84        1
104.60        1
Name: count, Length: 48800, dtype: int64

total_rec_prncp
10000.00    1801
12000.00    1385
15000.00    1203
5000.00     1099
20000.00     965
            ...
1651.44        1
331.08         1
2717.29        1
1251.07        1
9471.44        1
Name: count, Length: 23870, dtype: int64

total_rec_int
0.00       66
1745.58    10
1062.44    10
2264.64    10
1280.57    10
           ..
2984.92     1
645.90      1
751.34      1
804.64      1
911.92      1
Name: count, Length: 46827, dtype: int64

total_rec_late_fee
0.000000     49568
15.000000      236
30.000000       29
32.730000        4
15.870000        3
             ...
20.217640        1
44.966889        1
14.999008        1
44.869406        1
33.820000        1
Name: count, Length: 1354, dtype: int64

recoveries
0.00       47751
16.27          3
19.20          3
14.02          2
14.28          2
           ...
4342.02        1
2828.04        1
2753.64        1
3619.79        1
182.27         1
Name: count, Length: 3413, dtype: int64

collection_recovery_fee
0.0000       47961
1.4400           7
3.2000           6
3.7100           6
2.0800           6
             ...
269.6000         1
8.9400           1
1384.3300        1
1.0600           1
495.6552         1
Name: count, Length: 2809, dtype: int64

last_payment_date
Jan-2022    14707
Dec-2021     4754
Oct-2020      978
Dec-2020      968
Jul-2021      954
            ...
Apr-2014       10
Mar-2014        7
Feb-2014        3
Jan-2014        3
Dec-2013        1
Name: count, Length: 98, dtype: int64

last_payment_amount
332.10     100
336.90      88
327.34      83
0.00        70
664.20      64
          ...
143.28       1
9921.87      1
160.61       1
110.58       1
164.97       1
Name: count, Length: 36393, dtype: int64

next_payment_date
Feb-2022    17124
Jan-2022     2022
Mar-2017       51
Apr-2017       45
Feb-2017       40
            ...
May-2014        1
Feb-2014        1
Jan-2014        1
Apr-2014        1
Mar-2014        1
Name: count, Length: 95, dtype: int64

last_credit_pull_date
Jan-2022    30375
Dec-2021     1380
Nov-2021      867
Oct-2021      825
Sep-2021      800
            ...
May-2014        1
Oct-2013        1
Dec-2013        1
Feb-2014        1
Jul-2013        1
Name: count, Length: 100, dtype: int64

collections_12_mths_ex_med
0.0    50979
1.0      181
2.0       13
3.0        1
4.0        1
Name: count, dtype: int64

mths_since_last_major_derog
41.0     147
45.0     139
42.0     130
46.0     124
44.0     122
        ...
134.0      1
90.0       1
119.0      1
99.0       1
115.0      1
Name: count, Length: 112, dtype: int64

policy_code
1    51224
Name: count, dtype: int64

application_type
INDIVIDUAL    51224
Name: count, dtype: int64